# HAProxy Technologies Kubernetes Ingress Controller values.
# Chart: haproxytech/kubernetes-ingress

controller:
  kind: Deployment
  replicaCount: 2

  # Enable Gateway API reconciliation (GatewayClass/Gateway/HTTPRoute).
  kubernetesGateway:
    enabled: true
    gatewayControllerName: haproxy.org/gateway-controller

  defaultTLSSecret:
    enabled: true
    secretNamespace: ingress-haproxy
    secret: wildcard-k8s-rcrumana-xyz-tls

  service:
    type: LoadBalancer
    annotations:
      metallb.universe.tf/address-pool: default-pool
    loadBalancerIP: 192.168.1.230

  config:
    ssl-redirect: "true"
    default-ssl-certificate: "ingress-haproxy/wildcard-k8s-rcrumana-xyz-tls"
    ssl-options: "no-sslv3 no-tlsv10 no-tlsv11"
    ssl-ciphers: "ECDHE+AESGCM:ECDHE+AES256:ECDHE+AES128:!DHE:!RSA:!AES128:!RC4:!DES:!3DES:!MD5:!DSS"
    # Enable SNI debugging
    syslog-endpoint: "stdout"
    syslog-format: "raw"
    syslog-tag: "haproxy"

  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app.kubernetes.io/name: kubernetes-ingress
          topologyKey: kubernetes.io/hostname

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi
