apiVersion: v1
kind: ConfigMap
metadata:
  name: librechat-yaml
data:
  librechat.yaml: |
    version: 1.3.3
    cache: true
    endpoints:
      custom:
        - name: "Local Gateway"
          apiKey: "${OPENAI_API_KEY}"
          baseURL: "http://llm-gateway.ai.svc.cluster.local:4000/v1"
          directEndpoint: true
          models:
            default:
              - "general-chat"
            fetch: false
          titleConvo: true
          titleModel: "general-chat"
          modelDisplayLabel: "vLLM"
