apiVersion: v1
kind: Service
metadata:
  name: minio
spec:
  ports:
    - name: http
      port: 9002
      targetPort: 9002
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: minio-api
spec:
  ports:
    - name: http
      port: 9000
      targetPort: 9000
  type: ClusterIP
