apiVersion: v1
kind: Service
metadata:
  name: plex
  labels:
    app: plex
  annotations:
    metallb.universe.tf/address-pool: default-pool
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.1.232
  selector:
    app: plex
  ports:
    - name: web
      port: 32400
      targetPort: 32400
      protocol: TCP
