apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-server
  labels:
    app: immich
    component: server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: immich
      component: server
  template:
    metadata:
      labels:
        app: immich
        component: server
    spec:
      containers:
        - name: immich-server
          image: ghcr.io/immich-app/immich-server:release
          imagePullPolicy: Always
          ports:
            - containerPort: 2283
              name: http
          envFrom:
            - configMapRef:
                name: immich-config
            - secretRef:
                name: immich-secret
          env:
            - name: REDIS_HOSTNAME
              value: immich-redis
            - name: DB_HOSTNAME
              value: immich-postgres
          volumeMounts:
            - name: upload
              mountPath: /usr/src/app/upload
            - name: localtime
              mountPath: /etc/localtime
              readOnly: true
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "4Gi"
              cpu: "24"
          livenessProbe:
            httpGet:
              path: /api/server/ping
              port: 2283
            initialDelaySeconds: 30
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /api/server/ping
              port: 2283
            initialDelaySeconds: 10
            periodSeconds: 10
      volumes:
        - name: upload
          persistentVolumeClaim:
            claimName: immich-photos
        - name: localtime
          hostPath:
            path: /etc/localtime
            type: File
